//#FILENAME:{{frontendBasePath}}/pages/{{snakeCase data.metadata.name}}/{{type data.metadata.name}}Page.tsx:create-only
{{ai-type 'web-page'}}
import React from 'react';

/*
The root component of the {{type data.metadata.name}} page.

This is where you add your own components and logic.

*/


export const {{type data.metadata.name}}Page = () => {

    return (
        <div>{{data.metadata.name}}</div>
    );
};